DOTENV_CONFIG_QUIET=true

NODE_ENV=development

PORT=3000

POSTGRES_USER=user
POSTGRES_PASSWORD=root
POSTGRES_DB=db_name

DATABASE_URL=postgres://user:root@postgres:5432/db_name

JWT_SECRET=supersecretkey
JWT_EXPIRES=1d