services:
  app:
    image: taskmanager-dev
    build:
      context: .
      target: dev
    ports:
      - "3000:3000"
    volumes:
      - ./src:/app/src
  prometheus:
    ports:
      - "9090:9090"
  grafana:
    ports:
      - "3001:3000"
